.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    align-items: center;
}

.logo {
    width: 4rem;
}

.botao_busca {
    display: flex;
    align-items: center;
    background-color: #31B55C;
    border-radius: 14px;
    border: none;
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 16px;
    line-height: 21.23px;
    color: #CBCBCB;
    height: 2rem;
}

.botao_busca:hover {
    background-color: #268c48;
    cursor: pointer;
}

.nome_botao_busca {
    margin-left: 0.5rem;
}

.imagem_inicio {
    width: 70rem;
    padding-top: 2rem;
    border-radius: 8px;
}

.centraliza {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container_rifas {
    margin-top: 2rem;
    background-color: #195c2f;
    width: 70rem;
    border-radius: 1rem;

}
.titulo_secao {
    display: flex;
    margin-left: 0.5rem;
}

.sorte {
    width: 3rem;
    margin-right: 0.5rem;
}

.texto_titulo_rifas {
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 20px;
    color: #CBCBCB;
}

.texto_rifas {
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 16px;
    color: #CBCBCB;
}

.card {
    background-color: #268c48;
    width: 40%;
    border: none;
    margin-bottom: 1rem;
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card:hover{
    cursor: pointer;
}

.imagem_rifa {
    width: 12rem;
    margin-right: 2rem;
}

.descricao {
    font-family: 'Abhaya Libre';
    font-weight: 600;
    font-size: 16px;
    color: #CBCBCB;
    text-align: left;
}

.preco {
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 16px;
    color: #CBCBCB;
    text-align: left;
}

.disponivel {
    background-color: #195c2f;
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 16px;
    color: #CBCBCB;
    border: none;
    border-radius: 16px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    max-width: 400px;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalCloseButton {
    background-color: transparent;
    color: #31B55C;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modalCloseButton span {
    line-height: 1;
}

.modalLine {
    width: 100%;
    border: 1px solid #31B55C;
}

.modalInput {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    border: 1px solid #31B55C;
    border-radius: 4px;
    box-sizing: border-box; /* Adicionamos para incluir o padding no tamanho total */
}

.modalButton {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #31B55C;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modalButton:hover {
    background-color: #268c48;
}

@media screen and (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .logo {
        /* Ajuste o tamanho da logo para telas menores */
        width: 3rem;
    }

    .botao_busca {
        /* Ajuste o tamanho do botão para telas menores */
        font-size: 14px;
        height: 1.5rem;
    }

    .imagem_inicio {
        /* Ajuste o tamanho da imagem para telas menores */
        width: 100%;
        padding-top: 1rem;
    }

    .centraliza {
        /* Ajuste a centralização para telas menores */
        justify-content: flex-start;
    }

    .container_rifas {
        /* Ajuste o tamanho do container para telas menores */
        width: 100%;
    }

    .card {
        /* Ajuste o tamanho dos cards para telas menores */
        width: 100%;
    }

    .imagem_rifa {
        /* Ajuste o tamanho da imagem dos cards para telas menores */
        width: 100%;
        margin-right: 0;
    }

    .card {
        background-color: #268c48;
        width: 100%;
        border: none;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .container_rifas_info {
        display: flex;
        flex-direction: column;
    }
}

