
.imagem_inicio {
    width: 70rem;
    padding-top: 2rem;
    border-radius: 8px;
}

.centraliza {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container_rifas {
    margin-top: 2rem;
    background-color: #195c2f;
    width: 70rem;
    border-radius: 1rem;
}
.titulo_secao {
    display: flex;
    margin-left: 0.5rem;
}

.sorte {
    width: 3rem;
    margin-right: 0.5rem;
}

.texto_titulo_rifas {
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 20px;
    color: #CBCBCB;
}

.dark {
    background-color: #282828;
    height: 100vh;
}

.texto_rifas {
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 16px;
    color: #CBCBCB;
}

.card {
    background-color: #268c48;
    width: 40%;
    border: none;
    margin-bottom: 1rem;
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card:hover{
    cursor: pointer;
}

.imagem_rifa {
    width: 12rem;
    margin-right: 2rem;
}

.descricao {
    font-family: 'Abhaya Libre';
    font-weight: 600;
    font-size: 16px;
    color: #CBCBCB;
    text-align: left;
}

.preco {
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 16px;
    color: #CBCBCB;
    text-align: left;
}

.disponivel {
    background-color: #195c2f;
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 16px;
    color: #CBCBCB;
    border: none;
    border-radius: 16px;
}



@media screen and (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .logo {
        /* Ajuste o tamanho da logo para telas menores */
        width: 3rem;
    }

    .botao_busca {
        /* Ajuste o tamanho do botão para telas menores */
        font-size: 14px;
        height: 1.5rem;
    }

    .imagem_inicio {
        /* Ajuste o tamanho da imagem para telas menores */
        width: 100%;
        padding-top: 1rem;
    }

    .centraliza {
        /* Ajuste a centralização para telas menores */
        justify-content: flex-start;
    }

    .container_rifas {
        /* Ajuste o tamanho do container para telas menores */
        width: 100%;
    }

    .card {
        /* Ajuste o tamanho dos cards para telas menores */
        width: 100%;
    }

    .imagem_rifa {
        /* Ajuste o tamanho da imagem dos cards para telas menores */
        width: 100%;
        margin-right: 0;
    }

    .card {
        background-color: #268c48;
        width: 100%;
        border: none;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .container_rifas_info {
        display: flex;
        flex-direction: column;
    }
}

