.container {
    background-color: #CBCBCB;
    height: 100vh;
}

.container_dark {
    background-color: black;
    height: 100vh;
}

.cor {
    text-align: center;
    background-color: #CBCBCB;
    width: 100vw;
    height: auto;
}

.cor_dark {
    text-align: center;
    background-color: dark;
    width: 100vw;
    height: auto;
}